<div id="waitingContainer" style="display: none;">
    <div id="waitingContent">
        <div class="waitingSpinner"></div>
        <div id="waitingTextContainer">
            <h2>마이크로소프트의 응답을 기다리는 중..</h2>
        </div>
    </div>
</div>